@font-face {
  font-family: 'acamicons';
  src: url('../font/acamicons.eot?1752511');
  src: url('../font/acamicons.eot?1752511#iefix') format('embedded-opentype'),
       url('../font/acamicons.woff?1752511') format('woff'),
       url('../font/acamicons.ttf?1752511') format('truetype'),
       url('../font/acamicons.svg?1752511#acamicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'acamicons';
    src: url('../font/acamicons.svg?1752511#acamicons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "acamicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-album:before { content: '\e800'; } /* '' */
.icon-assignment-acount:before { content: '\e801'; } /* '' */
.icon-assignment-alert:before { content: '\e802'; } /* '' */
.icon-assignment-check:before { content: '\e803'; } /* '' */
.icon-assignment-o:before { content: '\e804'; } /* '' */
.icon-assignment:before { content: '\e805'; } /* '' */
.icon-attachment:before { content: '\e806'; } /* '' */
.icon-wallet:before { content: '\e807'; } /* '' */
.icon-block:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-bookmark-o:before { content: '\e80a'; } /* '' */
.icon-bookmark:before { content: '\e80b'; } /* '' */
.icon-bug:before { content: '\e80c'; } /* '' */
.icon-cake:before { content: '\e80d'; } /* '' */
.icon-giftcard:before { content: '\e80e'; } /* '' */
.icon-card-membership:before { content: '\e80f'; } /* '' */
.icon-filter-list:before { content: '\e810'; } /* '' */
.icon-card:before { content: '\e811'; } /* '' */
.icon-chart-donut:before { content: '\e812'; } /* '' */
.icon-chart:before { content: '\e813'; } /* '' */
.icon-close:before { content: '\e814'; } /* '' */
.icon-code-setting:before { content: '\e815'; } /* '' */
.icon-code:before { content: '\e816'; } /* '' */
.icon-collection-bookmark:before { content: '\e817'; } /* '' */
.icon-compass:before { content: '\e818'; } /* '' */
.icon-delete:before { content: '\e819'; } /* '' */
.icon-trending-up:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-email:before { content: '\e81c'; } /* '' */
.icon-eye-off:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-favorite-o:before { content: '\e81f'; } /* '' */
.icon-favorite:before { content: '\e820'; } /* '' */
.icon-fire:before { content: '\e821'; } /* '' */
.icon-flag:before { content: '\e822'; } /* '' */
.icon-fullscreen-exit:before { content: '\e823'; } /* '' */
.icon-fullscreen:before { content: '\e824'; } /* '' */
.icon-globe:before { content: '\e825'; } /* '' */
.icon-graduation-cap:before { content: '\e826'; } /* '' */
.icon-home:before { content: '\e827'; } /* '' */
.icon-key:before { content: '\e828'; } /* '' */
.icon-label:before { content: '\e829'; } /* '' */
.icon-label-o:before { content: '\e82a'; } /* '' */
.icon-link:before { content: '\e82b'; } /* '' */
.icon-lock-open:before { content: '\e82c'; } /* '' */
.icon-lock-o:before { content: '\e82d'; } /* '' */
.icon-lock:before { content: '\e82e'; } /* '' */
.icon-reply-all:before { content: '\e82f'; } /* '' */
.icon-reply:before { content: '\e830'; } /* '' */
.icon-menu:before { content: '\e831'; } /* '' */
.icon-money:before { content: '\e832'; } /* '' */
.icon-more-horiz:before { content: '\e833'; } /* '' */
.icon-more-vert:before { content: '\e834'; } /* '' */
.icon-open-in-browser:before { content: '\e835'; } /* '' */
.icon-open-in-new:before { content: '\e836'; } /* '' */
.icon-puzzle-piece:before { content: '\e837'; } /* '' */
.icon-refresh-alt:before { content: '\e838'; } /* '' */
.icon-refresh:before { content: '\e839'; } /* '' */
.icon-search:before { content: '\e83a'; } /* '' */
.icon-settings:before { content: '\e83b'; } /* '' */
.icon-premium:before { content: '\e83c'; } /* '' */
.icon-thumb-down:before { content: '\e83d'; } /* '' */
.icon-thumb-up:before { content: '\e83e'; } /* '' */
.icon-thumb-up-down:before { content: '\e83f'; } /* '' */
.icon-alert-circle-o:before { content: '\e840'; } /* '' */
.icon-alert-circle:before { content: '\e841'; } /* '' */
.icon-alert-triangle:before { content: '\e842'; } /* '' */
.icon-help-circle-o:before { content: '\e843'; } /* '' */
.icon-help-circle:before { content: '\e844'; } /* '' */
.icon-alert-polygon:before { content: '\e845'; } /* '' */
.icon-account-add:before { content: '\e846'; } /* '' */
.icon-account-o:before { content: '\e847'; } /* '' */
.icon-account:before { content: '\e848'; } /* '' */
.icon-accounts-add:before { content: '\e849'; } /* '' */
.icon-accounts-alt:before { content: '\e84a'; } /* '' */
.icon-accounts:before { content: '\e84b'; } /* '' */
.icon-accounts-o:before { content: '\e84c'; } /* '' */
.icon-cloud-o:before { content: '\e84d'; } /* '' */
.icon-cloud:before { content: '\e84e'; } /* '' */
.icon-cloud-check:before { content: '\e84f'; } /* '' */
.icon-download:before { content: '\e850'; } /* '' */
.icon-file-text:before { content: '\e851'; } /* '' */
.icon-file:before { content: '\e852'; } /* '' */
.icon-folder:before { content: '\e853'; } /* '' */
.icon-folder-o:before { content: '\e854'; } /* '' */
.icon-format-bold:before { content: '\e855'; } /* '' */
.icon-format-underlined:before { content: '\e856'; } /* '' */
.icon-format-strikethrough:before { content: '\e857'; } /* '' */
.icon-undo:before { content: '\e858'; } /* '' */
.icon-comment-alt-text:before { content: '\e859'; } /* '' */
.icon-comment-alt:before { content: '\e85a'; } /* '' */
.icon-comment-o:before { content: '\e85b'; } /* '' */
.icon-comment-text:before { content: '\e85c'; } /* '' */
.icon-comment:before { content: '\e85d'; } /* '' */
.icon-comments:before { content: '\e85e'; } /* '' */
.icon-rate-review:before { content: '\e85f'; } /* '' */
.icon-check-all:before { content: '\e860'; } /* '' */
.icon-check:before { content: '\e861'; } /* '' */
.icon-circle-o:before { content: '\e862'; } /* '' */
.icon-circle:before { content: '\e863'; } /* '' */
.icon-dot-circle-alt:before { content: '\e864'; } /* '' */
.icon-dot-circle:before { content: '\e865'; } /* '' */
.icon-minus:before { content: '\e866'; } /* '' */
.icon-plus:before { content: '\e867'; } /* '' */
.icon-star:before { content: '\e868'; } /* '' */
.icon-star-o:before { content: '\e869'; } /* '' */
.icon-devices:before { content: '\e86a'; } /* '' */
.icon-camera:before { content: '\e86b'; } /* '' */
.icon-tablet:before { content: '\e86c'; } /* '' */
.icon-smartphone:before { content: '\e86d'; } /* '' */
.icon-laptop:before { content: '\e86e'; } /* '' */
.icon-desktop:before { content: '\e86f'; } /* '' */
.icon-layers:before { content: '\e870'; } /* '' */
.icon-coupon:before { content: '\e871'; } /* '' */
.icon-local-offer:before { content: '\e872'; } /* '' */
.icon-map:before { content: '\e873'; } /* '' */
.icon-pin-drop:before { content: '\e874'; } /* '' */
.icon-pin-help:before { content: '\e875'; } /* '' */
.icon-pin:before { content: '\e876'; } /* '' */
.icon-arrow-back:before { content: '\e877'; } /* '' */
.icon-arrow-forward:before { content: '\e878'; } /* '' */
.icon-move:before { content: '\e879'; } /* '' */
.icon-chevron-down:before { content: '\e87a'; } /* '' */
.icon-chevron-left:before { content: '\e87b'; } /* '' */
.icon-chevron-right:before { content: '\e87c'; } /* '' */
.icon-chevron-up:before { content: '\e87d'; } /* '' */
.icon-caret-up:before { content: '\e87e'; } /* '' */
.icon-caret-down:before { content: '\e87f'; } /* '' */
.icon-swap-vertical:before { content: '\e880'; } /* '' */
.icon-apps:before { content: '\e881'; } /* '' */
.icon-view-module:before { content: '\e882'; } /* '' */
.icon-view-column:before { content: '\e883'; } /* '' */
.icon-view-comfy:before { content: '\e884'; } /* '' */
.icon-view-compact:before { content: '\e885'; } /* '' */
.icon-view-dashboard:before { content: '\e886'; } /* '' */
.icon-view-headline:before { content: '\e887'; } /* '' */
.icon-view-list:before { content: '\e888'; } /* '' */
.icon-view-stream:before { content: '\e889'; } /* '' */
.icon-dehaze:before { content: '\e88a'; } /* '' */
.icon-calendar-check:before { content: '\e88b'; } /* '' */
.icon-calendar:before { content: '\e88c'; } /* '' */
.icon-time-interval:before { content: '\e88d'; } /* '' */
.icon-time:before { content: '\e88e'; } /* '' */
.icon-time-restore:before { content: '\e88f'; } /* '' */
.icon-timer:before { content: '\e890'; } /* '' */
.icon-share:before { content: '\e891'; } /* '' */
.icon-fast-forward:before { content: '\e892'; } /* '' */
.icon-fast-rewind:before { content: '\e893'; } /* '' */
.icon-equalizer:before { content: '\e894'; } /* '' */
.icon-stop:before { content: '\e895'; } /* '' */
.icon-volume-down:before { content: '\e896'; } /* '' */
.icon-volume-mute:before { content: '\e897'; } /* '' */
.icon-volume-off:before { content: '\e898'; } /* '' */
.icon-volume-up:before { content: '\e899'; } /* '' */
.icon-notifications-active:before { content: '\e89a'; } /* '' */
.icon-notifications-o:before { content: '\e89b'; } /* '' */
.icon-notifications:before { content: '\e89c'; } /* '' */
.icon-cast:before { content: '\e89d'; } /* '' */
.icon-network-wifi-alt:before { content: '\e89e'; } /* '' */
.icon-hd:before { content: '\e89f'; } /* '' */
.icon-sign-in:before { content: '\e8a0'; } /* '' */
.icon-format-list-bulleted:before { content: '\e8a1'; } /* '' */
.icon-format-list-numbered:before { content: '\e8a2'; } /* '' */
.icon-format-italic:before { content: '\e8a3'; } /* '' */
.icon-image:before { content: '\e8a4'; } /* '' */
.icon-redo:before { content: '\e8a5'; } /* '' */
.icon-save:before { content: '\e8a6'; } /* '' */
.icon-keyboard:before { content: '\e8a7'; } /* '' */
.icon-quote:before { content: '\e8a8'; } /* '' */
.icon-youtube:before { content: '\e8a9'; } /* '' */
.icon-arrow-merge:before { content: '\e8aa'; } /* '' */
.icon-arrow-split:before { content: '\e8ab'; } /* '' */
.icon-sort:before { content: '\e8ac'; } /* '' */
.icon-info:before { content: '\e8ad'; } /* '' */
.icon-info-o:before { content: '\e8ae'; } /* '' */
.icon-youtube-play:before { content: '\e8af'; } /* '' */
.icon-play-circle:before { content: '\e8b0'; } /* '' */
.icon-play:before { content: '\e8b1'; } /* '' */
.icon-pause:before { content: '\e8b2'; } /* '' */
.icon-whatsapp:before { content: '\e8b3'; } /* '' */
.icon-windows:before { content: '\e8b4'; } /* '' */
.icon-css3:before { content: '\e8b5'; } /* '' */
.icon-google-play:before { content: '\e8b6'; } /* '' */
.icon-pause-circle:before { content: '\e8b7'; } /* '' */
.icon-play-circle-o:before { content: '\e8b8'; } /* '' */
.icon-pause-circle-o:before { content: '\e8b9'; } /* '' */
.icon-replay:before { content: '\e8ba'; } /* '' */
.icon-shuffle:before { content: '\e8bb'; } /* '' */
.icon-video:before { content: '\e8bc'; } /* '' */
.icon-video-off:before { content: '\e8bd'; } /* '' */
.icon-comment-dots:before { content: '\e8be'; } /* '' */
.icon-comment-image:before { content: '\e8bf'; } /* '' */
.icon-check-circle:before { content: '\e8c0'; } /* '' */
.icon-check-circle-u:before { content: '\e8c1'; } /* '' */
.icon-comment-alert:before { content: '\e8c2'; } /* '' */
.icon-pin-account:before { content: '\e8c3'; } /* '' */
.icon-swap-vertical-circle:before { content: '\e8c4'; } /* '' */
.icon-print:before { content: '\e8c5'; } /* '' */
.icon-cut:before { content: '\e8c6'; } /* '' */
.icon-account-circle:before { content: '\e8c7'; } /* '' */
.icon-text-block:before { content: '\e8c8'; } /* '' */
.icon-case:before { content: '\e8c9'; } /* '' */
.icon-pdf:before { content: '\e8ca'; } /* '' */
.icon-video-small-close:before { content: '\e8cb'; } /* '' */
.icon-video-small:before { content: '\e8cc'; } /* '' */
.icon-download-bucket:before { content: '\e8cd'; } /* '' */
.icon-google-plus-box:before { content: '\e8ce'; } /* '' */
.icon-google-plus:before { content: '\e8cf'; } /* '' */
.icon-html5:before { content: '\e8d0'; } /* '' */
.icon-javascript:before { content: '\e8d1'; } /* '' */
.icon-heading:before { content: '\e8d2'; } /* '' */
.icon-linkedin:before { content: '\e8d3'; } /* '' */
.icon-paypal:before { content: '\e8d4'; } /* '' */
.icon-stackoverflow:before { content: '\e8d5'; } /* '' */
.icon-twitter-box:before { content: '\e8d6'; } /* '' */
.icon-twitter:before { content: '\e8d7'; } /* '' */
.icon-wordpress:before { content: '\e8d8'; } /* '' */
.icon-github:before { content: '\e8d9'; } /* '' */
.icon-github-box:before { content: '\e8da'; } /* '' */
.icon-facebook:before { content: '\e8db'; } /* '' */
.icon-facebook-box:before { content: '\e8dc'; } /* '' */
.icon-android:before { content: '\e8dd'; } /* '' */
.icon-apple:before { content: '\e8de'; } /* '' */
.icon-python:before { content: '\e8df'; } /* '' */
.icon-subtitles:before { content: '\e8e0'; } /* '' */
.icon-window-layout:before { content: '\e8e1'; } /* '' */
.icon-priority-high:before { content: '\e8e2'; } /* '' */
.icon-pie-chart:before { content: '\e8e3'; } /* '' */
.icon-pip:before { content: '\e8e4'; } /* '' */
.icon-arrow-downward:before { content: '\e8e5'; } /* '' */
.icon-arrow-upward:before { content: '\e8e6'; } /* '' */